<div class="header">
    <div class="overlay">
        <div class="heading-title">
            <div class="display1">
                Interviewing Automated
            </div>
            <div class="display1sub">
                Interviewing candidates has never been so easy.
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="head-section">
        <div class="head-block">
            <div class="display2 title">Fast paced data</div>
            <div class="displayBlockContent content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nam id sunt cumque eum unde molestias error. Rem, inventore a!</div>
        </div>
        <div class="head-block">
            <div class="display2 title">Fast paced data</div>
            <div class="displayBlockContent content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nam id sunt cumque eum unde molestias error. Rem, inventore a!</div>
        </div>
        <div class="head-block">
            <div class="display2 title">Fast paced data</div>
            <div class="displayBlockContent content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nam id sunt cumque eum unde molestias error. Rem, inventore a!</div>
        </div>
    </div>
</div>