.header{
    background-image: url("/assets/interview.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
}
.overlay{
    height: 50vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading-title{
    text-align: center;
}
.head-section{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}
.head-block{
    width: 260px;
    min-height: 200px;
}
.head-block .title{
    text-align: center;
    padding: 10px;
    background-color: #124559;
    border-radius: 10px 10px 0px 0px;
}
.head-block .content{
    padding: 10px;
    border-left: 1px solid #124559;
    border-right: 1px solid #124559;
    border-bottom: 1px solid #124559;
}