.navbar{
    justify-content: space-between;
    background-color: #222;
    color: #fff;
    font-size: 1rem;
}
.title span{
    font-size: 2rem;
    padding-right: 1rem;
}
.links span{
    padding-right: 1rem;
}
.navbar a{
    color: #fff;
    text-decoration: none;
}